.header {
  margin: 0;
  transform: translateX(-10%);
  display: flex;
}

html {
  scroll-behavior: smooth;
  padding: 0;

  max-width: 100vw;
  background: #8adb9e;
  background: radial-gradient(
    circle,
    rgba(138, 219, 158, 1) 0%,
    rgba(64, 124, 81, 1) 100%,
    rgba(64, 124, 81, 1) 100%
  );
  scrollbar-width: none;
}

.bande-event {
  font-family: "customPolice2", cursive;
  text-transform: uppercase;
  color: black;
  -webkit-text-stroke: 1px #ffc830;

  background-color: rgba(233, 173, 33, 0.9);
  padding: 1%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.titre {
  font-family: "customPolice2", cursive;
  font-size: calc(40px + 2vw);
  color: #ffc830;
  -webkit-text-stroke: 1px #000;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titleImage {
  width: 60%;
  transform: translatex(-15%);
}

.logoImage {
  width: 60%;
}

.btn-circle {
  margin: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "customPolice2", cursive;
}

.btn-circle a {
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: #ffc830 5px solid;
  background-color: rgb(41, 107, 41);

  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.4s;
  align-content: center;
  -webkit-text-stroke: 1px #000;
  font-weight: 900;
  color: #ffc830;
}

.btn-circle a:hover {
  border: #ffa530 5px solid;
  background-color: rgb(85, 85, 209);
  -webkit-text-stroke: 1px #b70000;
  color: #ffa530;
}

.btn-large {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "customPolice2", cursive;

}

.btn-event {
  font-size: 13px;
  width: 96%;
  margin: 1%;
  text-align: right;
}

.btn-large a {
  width: fit-content;
  padding: 5%;
  margin: 5%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.4s;
  border: #ffc830 5px solid;
  border-radius: 15px;
  color: #ffc830;
  background-color: rgb(41, 107, 41);
  align-content: center;
  -webkit-text-stroke: 1px #000;
  font-weight: 900;
}

.menuAffiche {
  width: 50vw;
}

/* Responsive téléphone */

.pizza {
  padding: 2.5%;
  display: flex;
  align-items: center;
  background-image: url(Images/pizza/fond/planche.webp);
  background-size: cover;
  border: 1px solid #000000;
  margin: 2.5%;
  width: 90%;
  border-radius: 15px;
}

.border-red {
  border: 5px solid #b80000;
}

.border-blue {
  border: 5px solid rgb(0, 187, 255);
}

.border-gold {
  border: 5px solid goldenrod;
}

.border-yellow {
  border: 5px solid yellow;
}

.border-brown {
  border: 5px solid rgb(130, 96, 49);
}

.pizza-header {
  margin-left: 1%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 15px;
  width: 100%;
}

.pizza-name {
  width: 70%;
  text-align: left;
  font-family: "customPolice2", cursive;
  color: #ffc830;
  font-size: calc(15px + 1vw);
  letter-spacing: -1.1px;
  font-weight: 700;
  -webkit-text-stroke: 0.5px #000;
}

.pizza-description {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.2px #ffc830;
  letter-spacing: -1.8px;
  font-weight: 800;
  text-align: left;
  font-size: calc(15px + 1vw);
}

.pizza-image {
  width: 20%;
  height: 20%;
}

/* Prix */
.pizza-price {
  letter-spacing: -1.2px;

  width: 30%;
  font-family: "customPolice2", cursive;
  text-align: right;
  white-space: nowrap;
  color: #000000;
  -webkit-text-stroke: 0.5px #ffc830;
}

.small-price {
  font-size: calc(15px + 1vw);
  font-weight: 900;
}

.big-price {
  font-size: calc(17px + 1vw);
  font-weight: 900;
}


.traditionnelles,
.fromageres,
.specialites,
.vacancieres,
.marines,
.categorie  {
  margin-top: 50px;
  background-color: #ffc830;

  width: 100%;
  text-align: left;
  font-family: "customPolice2", cursive;
  font-weight: 900;
  font-size: 20px;
  color: #ffc830;
  border: #000 solid 2px;
  -webkit-text-stroke: 1.5px black;
}

.traditionnelles div,
.fromageres div,
.specialites div,
.vacancieres div,
.marines div,
.categorie div {
  background-image: url(Images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 125%;
  padding: 5%;
  padding-left: 10%;
  width: 85%;
}

.pop-up-appel a {
  color: whitesmoke;
  text-decoration: none;
}

.pop-up-appel {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid white;
  background-color: rgb(41, 107, 41);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.info-prod {
  width: 80%;
  color: black;
  margin: 10%;
  font-size: 20px;
  text-align: left;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#modal img {
  max-width: 90%;
  max-height: 90%;
}

.lightbox {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}
.lightbox.show {
  display: flex;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

@font-face {
  font-family: "customPolice2";
  src: url("fonts/Waytoon-DYROW.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "customPolice2";
  src: url("fonts/SuperFoods-2OxXo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.table-lieux {
  font-family: "customPolice2";
  color: #ffa530;
  -webkit-text-stroke: 1px #000;
}

.table-lieux a {
  font-family: "customPolice";
  -webkit-text-stroke: 0.1px #000;
}

.events-panel {
  margin: 5%;
  padding: 2.5%;
  width: 85%;
  min-height: 300px;
  border-radius: 15px;
  font-family: "customPolice2", cursive;
}

.events-card {
  width: calc(90%-6px);
  border: #000 solid 3px;
  border-radius: 15px;
  padding: 5%;
  padding-bottom: 0;
  color: white;
  -webkit-text-stroke: 0.5px #000;

  box-shadow: hsla(0, 0%, 0%, 0.8) 5px 5px;
}

.events-orange {
  background: #f9a63a;
  background: linear-gradient(
    180deg,
    rgba(249, 166, 58, 1) 52%,
    rgba(150, 90, 11, 1) 100%
  );
}

.events-blue {
  background: #3da2e0;
background: linear-gradient(180deg, rgba(61, 162, 224, 1) 52%, rgba(1, 79, 112, 1) 100%);

}

.events-pink {
  background: #c73694;
background: linear-gradient(180deg, rgba(199, 54, 148, 1) 56%, rgba(82, 1, 112, 1) 100%);
}

.events-date {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}

.events-timer {
  display: flex;
  align-items: center; 
  justify-content: end;

  gap: 5px;
  color: white;
  -webkit-text-stroke: 0px white;
  font-weight: 200;
   margin: 1em;
}

.events-title {
  font-weight: 600;
}

.events-link {
  font-weight: 400;
}


 .phone-btn {
    display: none;
  }