@media (max-width: 600px) {
  .menuAffiche {
    width: 90vw;
  }

  .btn-duo-img {
    height: 2.5rem;
    margin: 0;
  }

  .pop-up-appel {
    display: block;
    width: 80%;
  }

  .table-lieux {
    width: 100%;
  }

  .table-lieux td {
    padding: 1em;
  }

  .table-lieux tr {
    border: 3px solid black;
  }

  .fb-page {
    width: 90%;
    margin: 5%;
  }

  .phone-btn {
    display: block;
  }

  .other-btn {
    display: none;
  }
}

@media (min-width: 1500px) {
  .btn-head a {
    padding: 1em;
    border-radius: 15px;
    margin: 2em;
    font-family: "customPolice2", cursive;
    color: #ffc830;

    transition: 0.4s;
    align-content: center;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 26px;
    border: 2px solid goldenrod;
    background-color: rgb(41, 107, 41);
  }

  .btn-head a:hover {
    transform: scale(120%);
    background-color: rgb(111, 152, 111);
  }

  .categorie {
    font-size: 35px;
  }

  .btn-head {
    margin: 2em;
  }

  .table-lieux {
    font-size: 35px;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .table-lieux td {
    gap: 100px;
  }
}
